@media (min-width: 400px) {
    #gridcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas: 
        "name"
        "nav"
        "top-left"
        "top-right"
        "bottom-left"
        "bottom-right"
        "foot";
        background-color: rgb(34, 34, 146);
    }

    img {
        width: 400px;
        height: 300px;
    }

    h1 {
        text-align: center;
        font-size: 50px;
        background-color: orange;
        color: royalblue;
    }

    h2 {
        font-size: 30px;
        background-color: orange;
        color: royalblue;
    }

    #navbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #navbuttons > button {
        height: 50px;
        width: 90px;
        border-radius: 30px;
        background-color: orange;
        color: white;
    }

    #beardpic1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #beardpic2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #hairpic1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #hairpic2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #foot {
        text-align: center;
        margin-top: 40px;
        margin-top: 20px;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
        color: white;
    }

}

@media (min-width: 769px) {
    #gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr .5fr;
        grid-template-areas: 
        "name nav"
        "topleft topright"
        "bottomleft bottomright"
        "foot foot";
    }

    img {
        width: 300px;
        height: 200px;
    }

    p {
        text-align: center;
    }

    h2 {
        color: royalblue;
    }

    #beardpic1 {
        background-color: orange;
        padding-top: 20px;
    }

    #beardpic2 {
        background-color: orange;
        padding-top: 20px;
    }

    #hairpic1 {
        background-color: orange;
        padding-top: 20px;
    }

    #hairpic2 {
        background-color: orange;
        padding-top: 20px;
    }

    #foot > p {
        position: absolute;
        margin-left: 25%;
    }
    
}

@media (min-width: 900px) {
#gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 2fr  2fr 4.5fr;
    grid-template-areas: 
    "name nav nav nav"
    "topleft topleft topright topright"
    "bottomleft bottomleft bottomright bottomright"
    "foot foot foot foot";
    background-color: rgb(34, 34, 146);
}

img {
    width: 400px;
    height: 300px;
}

h1 {
    display: inline-block;
    background-color: orange;
    color: royalblue;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 50px;
}

h2 {
    color: royalblue;
}

p {
    color: white;
}

#sitename {
    grid-area: name;
}

#navbuttons {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    background-color: orange;
    align-items: center;
    margin-right: 50px;
    margin-left: 80px;
    height: 100px;
}

#navbuttons > button {
    height: 50px;
    width: 120px;
    border-radius: 30px;
    background-color: royalblue;
    color: white;
}

#beardpic1 {
    grid-area: topleft;
    display: flex;
    flex-direction: column;
    background-color: orange;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 60px;
    padding-top: 40px;
    text-align: center;
}

#beardpic2 {
    grid-area: topright;
    display: flex;
    flex-direction: column;
    background-color: orange;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 80px;
    padding-top: 40px;
    text-align: center;
}

#hairpic1 {
    grid-area: bottomleft;
    display: flex;
    flex-direction: column;
    background-color: orange;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 60px;
    padding-top: 40px;
    text-align: center;
}

#hairpic2 {
    grid-area: bottomright; display: flex;
    flex-direction: column;
    background-color: orange;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 80px;
    padding-top: 40px;
    text-align: center;
}

#foot {
    grid-area: foot;
    background-image: url("barberShopPics/firstPicForHairS.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: orange;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
}

#foot > p {
    text-align: center;
    font-size: 30px;
    margin: 26%;
    padding-left: 10px;
}

}